.footer-container {
    margin: 0 4em;
    padding: 1em 2em;
    font-family: sans-serif;
    margin: 0 5em;
}

.footer-logos {
    display: flex;
    justify-content: space-around;
    margin: 0 0 3em 0;
    height: 3.5em;
}

.footer-text {
    text-align: center;
    color: grey;
    margin-bottom: 2em;
}