.container {
    display: flex;
    margin: 1em 2em;
    justify-content: space-between;
    padding-bottom: 3em;
}

.right {
    display: flex;
    gap: 1em;
}

.left {
    display: flex;
    gap: 3em;
    
}
